.cssforButtonItem {
    width: 145px;
    height: 40px;
    font-weight: 500;
    font-size: 0.8rem;
}
@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .element {
    animation: bounce 2s infinite ease-in-out;
  }

  .productEle {
    border: 2px solid transparent;
    transition: border-color 0.5s ease;
  }
  
  .productEle:hover {
    border-color: orange;
  }
  .MuiDataGrid-cell {
    height: 500px;
  }