.social-icons {
    position: fixed;
    bottom: 12%;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 200;
}

.social-icons a {
  
    display: block;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 18px;
    font-size: 30px;
font-weight: 400;
line-height: 62px;
background-color: #fff;
border: 1px solid #f1f1f1;
    transition: background-color 0.3s ease;
}

.social-icons a:hover {
    background-color: #4267B2; /* Màu Facebook */
}

.social-icons .zalo:hover {
    background-color: #00BEAF; /* Màu Zalo */
}

.social-icons .tiktok:hover {
    background-color: #000; /* Màu TikTok */
}